*
{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}
/* helper class */
.text-center{
	text-align: center;
}
a:link,
a:hover,
a:focus,
a.active{
	text-decoration: none;
}
.container{
	width: 930px;
	margin: 0 auto;
}
.row,
.row::after,
.row::before{
	clear: both;
	display: table;
	width: 100%;
}
.row{
	margin-left: -15px;
	margin-right: -15px;
}
.col12, .col6, .col4, .col3, .col9, .col1{
	padding: 0px 15px;
	float: left;
}
.col12{
	width: 100%;
	/* padding: 0px 15px; */
    /* float: left; */
}
.col6{
	width: 50%;
	/* padding: 0px 15px; */
	/* float: left; */
}
.col4{
	width: calc(100% / 3);
	/* float: left; */
}
.col3{
	width: 25%;
}
.col9{
	width: 75%;
}
.col1{
	width: calc(100% / 12);	
}
.row > :first-child{
	padding-left: 0;
}
.row > :last-child{
	padding-left: 0;
}
.mb-80{
	margin-bottom: 80px;
}
.mb-70{
	margin-bottom: 70px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-90{
    margin-bottom: 90px;
} 
.mb-135{
	 margin-bottom: 135px;
}
.ml-col1{
	margin-left: calc(100% / 12);
}
.w-9{
	width: calc(900% / 12);
	margin: 0 auto;
}
.header{
	background-color: #fcdb00;
	padding: 60px 0px 105px;
}
.navbar ul, .icon{
	list-style: none;
}
.navbar{
	text-align: right;
}
.navbar ul li,.icon li{
	display: inline-block;
	margin: 0px 20px;
}
.navbar ul li a{
	font-size: 18px;
	font-weight: bold;
	color: #010101;
	text-transform: capitalize;
	display: inline-block;
	padding: 10px;
}
.navbar ul li a.active,
.navbar ul li a:focus,
.navbar ul li a:hover,
.navbar ul li a:active{
	font-weight: lighter;
}
.inspire{
	padding-right: calc(100% / 6);
	padding-top: 72px;
}
ul.icon {
	padding-top: 40px;
}
.tab{
	padding: 0 calc(100% / 6);
}
.sec-heading{
	font-size: 32px;
	color: #010101;
	margin: 20px 0px 25px;
}
.sec-subheading{
	font-size: 20px;
	color: #313841;
	font-weight: lighter;
}
.sec-para{
	font-size: 20px;
	color: #555555;
	margin-bottom: 40px;
}
.icon li i{
	font-size: 35px;
	color: #010101;
}
.features{
	padding: 115px 0 170px;
}
.thumb-img i{
	font-size: 50px;
}
.thumb-info{
	padding-right: 22px;
}
.thumb-info-heading{
	margin-bottom: 15px;
	font-size: 22px;
	color: #010101;
	text-transform: capitalize;
}
.thumb-info-info{
	color: #898989;
	font-size: 16px;
}
.footer{
	background-color: #010101;
	padding: 100px 0 140px;
}
.footer .sec-heading{
	color: #fcdb00;
	font-weight: lighter;
	font-size: 32px;
}
.footer,.sec-para{
	color: #898989;
}
.btn-primary, .email{
	border-radius: 10px;
	border: 0px;
	outline: none;
}
.btn-primary{
	width: 130px;
	margin-left: 15px;
	padding: 20px 35px;
	background-color: #fbdb00;
	cursor: pointer;
	font-size: 16px;
	text-transform: uppercase;
	color: #010101;
	font-weight: bold;

}
.email{
	width: calc(100% - 150px);
	padding: 20px 25px;
}
.email::placeholder{
	color: #898989;
	font-size: 16px;
}
.footer .icon li{
	margin: 0 15px;
}
.footer .icon li i{
	color:#fbdb00;
	font-size: 30px;
}
.footerlink div{
	color: #fff;
}
.footerinfo{
	list-style: none;
}
.footerinfo li{
	margin-bottom: 5px;
}
.footerinfo li,.footerinfo li a{
	font-size: 16px;
	color: #fff;
}
.footerinfo li a{
	text-transform: capitalize;
}
/* .footerinfo li a.nocap{ */
	/* text-transform: none; */
/* } */